.title{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    color: rgb(0, 0, 0);

}

.boton{
    background-color: #288A8E;
    color:white;
    border: #288A8E;
    border-radius: 2px;
    margin-left: 10px;
}

.input{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-right: 10px; 
    height: 50px;
}

.imageContainer{
    text-align: center;
    margin: 10px;
}

.inputContainer{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 20px 0;
}

.botonesContainer{
    text-align: center;
}

